<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OpenCVTesting/src/TestFaceDetect.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TestFaceDetect"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OpenCVTesting"/>
</launchConfiguration>
